.container {
    
}

.container Image {
  width: 100%;
  height: 100%;
  position: relative;
}

.container .titleContainer {
    position: absolute;
    background-color: black;
    opacity: 70%;
}

.container .titleContainer .concertTitle {
  font-size: xx-large;
  font-weight: 900;
  margin: 10px 30px 10px 30px;
  color: white;
}
