.generalContainer {
    background-color: red;
    width: 60%;
    height: 80%;
    margin-left: 20%;
    border: 6px solid black;
    background-color: white;
    border-radius: 20px;
}

.username {
    height: 20%;
    margin-top: 10px;
    margin-left: 30px;
    font-size: x-large;
    font-weight: 700;
}

.description {
    font-weight: 500;
    margin-left: 30px;
}