.biographyContainer {
    display: flex;
    flex-direction: row;
    color: black;
}

.photoAndName {
    display: flex;
    flex-direction: column;
}

.titleAndBio {
    display: flex;
    flex-direction: column;
}

/* .Biography {
    width: fit-content;
    min-width: 170px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    color: black;
  }
  
  .Biography .photoName{
    width: fit-content;
    min-width: 170px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }

  .Biography .photoName .img{
    border: 3px solid black;
    border-radius: 50%;
  }

  .Biography .photoName .name{
    font-size: large;
    padding-top: 15px;
  }


  .Biography .titleBio{
    width: fit-content;
    min-width: 170px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }

  .Biography .titleBio .title{
    font-size: xx-large;
    padding-top: 15px;
  }

  .Biography .titleBio .bio{
    font-size: medium;
    padding-top: 15px;
  } */
