.biographyContainer {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 20% auto;
    grid-template-areas:
    "picture title"
    "picture description";
    background-color: white;
    width: 60%;
    margin: auto;
    padding: 10px;
    border-top: 10px;
    height: 80%;
    border-radius: 10px;
}

.pictureAndName {
    grid-area: picture;
    text-align: center;
}

.profilePicture {
    color: white;
    border-radius: 50%;
    background-color: black;
}

.title {
    font-weight: 800;
    font-size:x-large;
    grid-area: title;
    margin-left: 5%;
}

.description {
    margin-left: 5%;
}


