.gridContainer {
  color: black;
  display: grid;
  grid-template-columns: 45% auto;
  grid-template-rows: [header] 60px [banner] 200px auto auto;
  grid-template-areas:
    "header header"
    "banner banner"
    "description ratings"
    "timetable invites";
  height: 100vh;
}

.bannerContainer {
  grid-area: banner;
  position: relative;
}

.friendInviteContainer {
  grid-area: invites;
}

.descriptionContainer {
  grid-area: description;
}

.descriptionContainer .descriptionTitle {
  font-size: large;
  font-weight: bold;
}

.timetableContainer {
  grid-area: timetable;
}

.ratingContainer {
  grid-area: timetable;
}

.title {
  padding: 20px;
}
