.gridContainer {
    display: grid;
    grid-template-columns: 45% auto;
    grid-template-rows: [header] 60px [banner] 200px auto auto;
    grid-template-areas:
      "header header"
      "banner banner"
      "description ratings"
      "timetable invites";
    height: 100vh;
  }
  
  .friendInviteContainer {
    grid-area: invites;
  }

  .descriptionContainer {
    grid-area: description;
  }

  .timetableContainer {
    grid-area: timetable;
  }
  
  .ratingContainer {
    grid-area: timetable;
  }

  .pageContent {
    color: black;
    overflow: scroll;
    grid-area: page-content;
    background-color: #e8f7ee;
  }
  
  .title {
    padding: 20px;
  }
  
  .eventCardContainer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  