.page {
  padding-top: var(--navHeight);
  height: 100vh;
  display: grid;
}

.homePage {
  grid-template-columns: 350px auto;
  grid-template-areas:
    "sidebar page-content";
}

.friendsPage {
  grid-template-columns: 350px auto;
  grid-template-areas:
    "sidebar page-content";
}

.friendsPage .friendsContainer {
  grid-area: page-content;
  /* height: 100%; */
  display: grid;
  grid-auto-rows: 255px;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));

  /* margin: 50px 25px; */
  /* padding: 5px 100px; */
  /* grid-gap: 20px; */
}

.pageContent {
  color: black;
  /* overflow: auto; */
  overflow: scroll;
  grid-area: page-content;
  background-color: #e8f7ee;
}

.title {
  padding: 20px;
}

.eventCardContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 20px;
}

.concertPage {
  color: black;
  background-color: #e8f7ee;
  grid-template-columns: 45% auto;
  grid-template-rows: [banner] 200px auto auto;
  grid-template-areas:
    "banner banner"
    "description ratings"
    "timetable invites";
}

.concertPage .bannerContainer {
  grid-area: banner;
  position: relative;
}

.concertPage .friendInviteContainer {
  grid-area: invites;
  display: flex;
  justify-content: right;
  /* position: relative; */
  /* left: 20%; */
}

.concertPage .descriptionContainer {
  margin-top: 15px;
  margin-left: 15px;
  grid-area: description;
}

.concertPage .descriptionContainer .descriptionTitle {
  font-size: xx-large;
  font-weight: bold;
}

.concertPage .descriptionContainer .descriptionText {
  white-space: pre;
  margin-top: 5px;
  font-size: large;
  font-weight: 400;
}

.concertPage .descriptionText textarea {
  resize: none;
  width: 100%;
}

.concertPage .programContainer {
  margin-top: 15px;
  margin-left: 15px;
  grid-area: timetable;
}

.concertPage .programTitle {
  font-size: xx-large;
  font-weight: bold;
}

.concertPage .programText {
  white-space: pre;
  margin-top: 5px;
  font-size: large;
  font-weight: 400;
}

.concertPage .ratingContainer {
  grid-area: ratings;
  display: flex;
  justify-content: right;
  align-items: center;
}

.concertPage .title {
  padding: 20px;
}

.concertPage .ticketsAndWishlist {
  display: flex;
  align-items: center;
  height: 74px;
}

.concertPage .ticketsButton {
  color: white;
  background-color: black;
  font-size: x-large;
  font-weight: bold;
  padding: 15px;
  margin-top: 15px;
  border: 1px solid black;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 3px 3px grey;
}

.concertPage .addToWishlist {
  margin: 15px;
  padding-top: 15px;
  cursor: pointer;
}

.addEventPage {
  color: black;
  /* width: 100%; */
  background-color: #e8f7ee;
  grid-template-columns: auto auto;
  grid-template-rows: [banner] 200px auto auto auto;
  grid-template-areas:
    "banner banner"
    "description location-artist"
    "timetable invites"
    "add-event add-event";
}

.addEventPage .bannerContainer {
  grid-area: banner;
  position: relative;
  background-color: rgb(194, 194, 194);
}

.addEventPage .friendInviteContainer {
  grid-area: invites;
  display: flex;
  justify-content: right;
}

.addEventPage .descriptionContainer {
  margin-top: 15px;
  margin-left: 15px;
  grid-area: description;
}

.addEventPage .descriptionContainer .descriptionTitle {
  font-size: xx-large;
  font-weight: bold;
}

.addEventPage .descriptionContainer .descriptionText {
  margin-top: 5px;
}

.addEventPage textarea {
  font-size: large;
  font-weight: 400;
}

.addEventPage .descriptionText textarea {
  resize: none;
  width: 100%;
}

.addEventPage .inputContainer {
  grid-area: timetable;
  display: flex;
  flex-direction: column;
  height: auto;
}

.addEventPage .programAndDateContainer {
  display: flex;
  flex-direction: row;
}

.addEventPage .programTitle {
  font-size: xx-large;
  font-weight: bold;
}

.addEventPage .programText {
  margin-top: 5px;
  font-size: large;
  font-weight: 400;
}

.addEventPage .dateContainer,
.programContainer {
  width: fit-content;
  margin: 15px;
}

.addEventPage .dateTitle {
  font-size: xx-large;
  font-weight: bold;
}

.addEventPage .datePane {
  margin-top: 5px;
  font-size: x-large;
  font-weight: bold;
  border: 3px solid black;
	border-radius: 5px;
	background-color: white;
	padding: 20px;
	box-shadow: 0px 3px 3px grey;
}

.addEventPage .datePane input {
  font-size: x-large;
  border: 1px solid black;
	background-color: white;
}

.addEventPage .artistAndLocationContainer {
  grid-area: location-artist;
  display: flex;
  justify-content: right;
  align-items: center;
}

.addEventPage .title {
  padding: 20px;
}

.addEventPage .cardPreview {
  padding-bottom: 1%;
  background-color: #e8f7ee;
}

.addEventPage .addEventButton {
  grid-area: add-event;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8f7ee;
}

.addEventPage .submitButton {
  color: white;
  font-size: large;
  font-weight: bold;
  padding: 10px;
  background-color: #0B2027;
  border: 1px solid #0B2027;
  border-radius: 10px;
  box-shadow: 0px 2px 2px;
}

.addEventPage .submitButton:hover {
  border: 1px solid #7180B9;
}

.registerPage {
  background-color: #e8f7ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.registerPage h1{
  color: black;
}

.registerPage .registerForm {
  display: flex;
  background-color: rgb(242, 240, 240);
  flex-direction: column;
  border: 2px solid rgba(44, 44, 44, 0.765);
  border-radius: 5%;
  padding: 50px 30px;
  box-shadow: 0px 2px 3px black;
  align-items: center;
  justify-content: center;
}

.registerPage .validationMessages {
  text-align: center;
}

.registerPage .validationMessage {
  padding: 2px;
}

.registerPage .valid {
  color: rgb(0, 185, 0);
}

.registerPage .invalid {
  color: red;
}

.registerInput {
  height: 70px;
  color: white;
  width: 400px;
  margin: 20px;
  border-radius: 40px;
  font-size: x-large;
  text-align: center;
  background-color: #0B2027;
}

.loginPage {
  height: 100vh;
  background-color: #e8f7ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginPage h1{
  color: black;
}

.loginPage .loginForm {
  display: flex;
  background-color: rgb(242, 240, 240);
  flex-direction: column;
  border: 2px solid rgba(44, 44, 44, 0.765);
  border-radius: 5%;
  padding: 50px 30px;
  align-items: center;
  box-shadow: 0px 2px 3px black;
  justify-content: center;
}

.loginPage .loginForm a {
  text-decoration: underline;
}

.submitButton {
  width: 200px;
  border-width: 0;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #7180B9;
}

.inputError {
  color: red;
  padding: 10px 0 0 0;
}

.accountPage {
  color: black;
  height: 100vh;
  display: grid;
  background-color: #e8f7ee;
  grid-template-columns: 50% auto;
  grid-template-rows: 50% auto;
  grid-template-areas:
  "biography biography"
  "attendingevents pastevents";
}

.biographyContainer {
  margin-top: 1%;
  border-radius: 10px;
  grid-area: biography;
}

.attendedEventSection {

}
/* Still have to make parent container class */
.attendedEventsContainer {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 70%;
  margin-left: 25%;
  grid-area: attendingevents;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 4px solid black;
}

.pastEventsContainer {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 20px;
  grid-area: pastevents;
  border: 4px solid black;
  width: 70%;
  height: 70%;
  margin-right: 25%;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.settingsPage {
  color: black;
  display: flex;
}


.settingContainer {
  width: 50%;
  margin: auto;
  margin-left: 5%;
}

.accountOverviewContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.profilePictureContainer img {
  border-radius: 50%;
  margin-top: 400px;
}

.BiographySettingsContainer {
  text-align: center;

}