.gridContainer {
  display: grid;
  grid-template-columns: 350px auto;
  grid-template-rows: [header] 60px [cards] auto;
  grid-template-areas:
    "header header"
    "sidebar page-content";
  height: 100vh;
}

.pageContent {
  color: black;
  overflow: scroll;
  grid-area: page-content;
  background-color: #e8f7ee;
}

.title {
  padding: 20px;
}

.eventCardContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
