.page {
  height: calc(100vh - var(--navHeight));
  display: grid;
}

.homePage {
  grid-template-columns: 350px auto;
  grid-template-areas:
    "sidebar page-content";
}

.friendsPage {
  grid-template-columns: 350px auto;
  grid-template-areas:
    "sidebar page-content";
}

.pageContent {
  color: black;
  overflow: scroll;
  grid-area: page-content;
  background-color: #e8f7ee;
}

.title {
  padding: 20px;
}

.eventCardContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 20px;
}

.concertPage {
  grid-template-columns: 45% auto;
  grid-template-rows: [banner] 200px auto auto;
  grid-template-areas:
    "banner banner"
    "description ratings"
    "timetable invites";
}

.concertPage .bannerContainer {
  grid-area: banner;
  position: relative;
}

.concertPage .friendInviteContainer {
  grid-area: invites;
  position: relative;
  left: 20%;
}

.concertPage .descriptionContainer {
  margin-top: 15px;
  grid-area: description;
}

.concertPage .descriptionContainer .descriptionTitle {
  font-size: x-large;
  font-weight: bold;
}

.concertPage .descriptionContainer .descriptionText {
  font-size: large;
  font-weight: 400;
}

.concertPage .timetableContainer {
  grid-area: timetable;
}

.concertPage .ratingContainer {
  grid-area: ratings;
}

.concertPage .title {
  padding: 20px;
}