.inviteCardContainer {
    display: grid;
    grid-template-columns: [picture] 100px [name] auto [button] 120px;
    grid-template-rows: 100px;
    grid-template-areas:
    "picture name button";
    column-gap: 20px;
    border: 2px solid black;
    margin: 7px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 3px 3px grey;
}

.pictureContainer {
    grid-area: picture;
    margin: 10px;
    /* justify-content: center; */
}

.pictureContainer img {
    /* border-radius: 50%; */
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* width: 100%; */
    /* height: auto; */

.profileNameContainer {
    grid-area: name;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: large;
    font-weight: bold;
}

.inviteButtonContainer {
    grid-area: button;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inviteButton {
    border-radius: 20px;
    background-color: black;
    padding: 5px 25px 5px 25px;
    color: white;
}

.inviteButton:hover {
    cursor: pointer;
}

