.navbar a {
  color: white;
}

.leftTopics,
.rightTopics {
  height: 60px;
  display: flex;
  align-items: center;
}

.leftTopics a,
.rightTopics a {
  height: 60px;
  padding: 20px;
  text-align: center;
}

.rightTopics a:hover {
  background-color: #7180B9;
}

.profilePicture  img{
  border-radius: 50%;
}

.profilePicture a {
  display: flex;
  padding: 0 20px;
  align-items: center;
}

.profilePicture a:hover {
  background-color: #0B2027;
}

.addEventButton {
  padding: 20px;
}

.addEventButton a {
  width: 40px;
  height: 40px;
  top: 10px;
  position: absolute;
  font-size: x-large;
  font-weight: bold;
  color: black;
  background-color: #E8F7EE;
  padding: 0;
  border: 5px solid #E8F7EE;
  border-radius: 50%;
}

.addEventButton a:hover {
  color: white;
  background-color: #7180B9;
  border: 5px solid #7180B9;
}