.notificationContainer {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: fit-content;
  margin: 10px 5px;
  border: 0.5px solid black;
  border-radius: 5px;
  box-shadow: 0px 1px 2px;
  padding: 5px;
}

.buttonBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonBox button {
  background-color: #0B2027;
	color: white;
	border: 0px solid;
  border-radius: 5px;
	font: inherit;
	cursor: pointer;
  padding: 3px 6px;
  margin: 5px 3px 0 3px;
  text-align: center;
}

.buttonBox button:hover {
  background-color: #7180B9;
}

.eventMessage {
  font-weight: bold;
}

.notificationContainer a {
  all: unset;
}

.notificationContainer a:hover {
  all: unset;
}

.notificationContainer:hover {
  background-color: rgb(217, 217, 217);
  cursor: pointer;
}