.settingsContainer {
    width: 300px;
    height: 300px;
    border: 3px solid black;
}

.title{
    font-size: x-large;
    font-weight: 800;
}
.explanation {
    font-size: medium;
    font-weight: 500;
    margin-bottom: 5PX;
}

.saveButton {
    color: white;
    font-size: medium;
    font-weight: bold;
    padding: 10px;
    background-color: #0B2027;
    border: 1px solid #0B2027;
    border-radius: 10px;
    box-shadow: 0px 2px 2px;
}

.saveButton:hover {
    border: 2px solid #7180B9;
}

@media (max-width: 600px){  
    .title{
        font-size: large;
    }
}