.sidebar {
  color: black;
  overflow: hidden;
  grid-area: sidebar;
  border-right: 8px solid;
}

.filterTitle {
  font-size: x-large;
  padding: 20px;
}

.filters {
  padding: 20px 35px;
}

.filters > * {
  padding: 10px 0;
}

.locationFilter {
  display: flex;
  flex-direction: row;
}

.location {
  padding-top: 2px;
  margin-right: 26px;
}

.title {
  font-size: x-large;
  padding: 20px 0 0 20px;
}

.dateInput {
  margin-left: 55px;
}

.dateInput:hover {
  cursor: pointer;
}

.price input {
  padding-left: 2px;
  margin-left: 53px;
  width: 120px;
}

.clearFilters {
  all: unset;
  margin-left: 120px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  background-color: #0B2027;
}

.filters button {
  all: unset;
  cursor: pointer;
  font-weight: bold;
}

.locationFilter select {
  width: 120px !important;
}