.sidebar {
  color: black;
  overflow: hidden;
  grid-area: sidebar;
  border-right: 8px solid;
}

.filterTitle {
  font-size: x-large;
  padding: 20px;
}

.filters {
  padding: 20px 35px;
}

.filters > * {
  padding: 10px 0;
}

.locationFilter {
  display: flex;
  flex-direction: row;
}

.location {
  padding-top: 2px;
  margin-right: 26px;
}

.title {
  font-size: x-large;
  padding: 20px 0 0 20px;
}

.dateInput {
  margin-left: 55px;
}

.filterButton{
  display: none
}

.dateInput:hover {
  cursor: pointer;
}

.price input {
  padding-left: 2px;
  margin-left: 53px;
  margin-bottom: 5px;
  width: 120px;
}

.clearFilters {
  all: unset;
  margin-left: 120px;
  border: solid 1px rgb(170, 170, 170);
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #E8F7EE;
}

.clearFilters:hover {
  color: white;
  background-color: #0B2027;
}

.filters button {
  all: unset;
  cursor: pointer;
  font-weight: bold;
}

.locationFilter select {
  width: 120px !important;
}

.genre {
  display: flex;
  flex-direction: row;
}

.selectors {
  margin-left: 45px;
  display: flex;
  flex-direction: column;
}

.genre button {
  all: unset;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  border: solid 1px rgb(170, 170, 170);
  border-radius: 10px;
  box-shadow: 1px 1px 1px;
  padding: 0 40px 2px 40px;
  background-color: #E8F7EE;
  margin-top: 5px;
  width: fit-content;
}

.genre button:hover {
  background-color: #0B2027;
  color: white;
}

.price {
  display: flex;
  flex-direction: row;
}

.priceRange {
  display: flex;
  flex-direction: column;

}

.selectorContainer button {
  all: unset;
  margin-left: 5px;
  font-weight: bold;
  border: solid 1px rgb(170, 170, 170);
  border-radius: 5px;
  background-color: #E8F7EE;
  cursor: pointer;
  box-shadow: 0px 1px 1px;
  padding: 0px 10px;
}

@media (max-width: 600px) {
  .sidebar {
    color: black;
    overflow: hidden;
    grid-area: sidebar;
    height: 60px;
    border-bottom: 8px solid;
    width: 100%;
    z-index: 100;
    position: fixed;
    display: flex;
    flex-direction: row;
  }

  .searchbar{
    left: -15px;
    top: 43px;
    position: fixed;
    z-index: 50;
  }

  .sidebarMenu {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 100;
    overflow: visible;
    background-color: #0B2027;
  }

  .sidebarMenu a{
    color: white;
  }

  .dropdownContent {
    display: flex;
    top: 120px;
    right: 10px;
    flex-direction: column;
    position: fixed;
    background-color: beige;
    color: black;
    z-index: 50;
    padding: 0;
    width: fit-content;
    height: fit-content;
    border: 0px;
    border-radius: 6px;
    box-shadow: 1px 1px 2px;
    opacity: 0.9;
    max-height: 60%;
    overflow-y: auto;
  }
  
  .dropdownContent a,
  .dropdownContent button {
    all: unset;
    padding: 10px;
  }
  
  .dropdownContent button {
    color: red;
  }
  
  .dropdownContent a:hover,
  .dropdownContent button:hover {
    all: unset;
    cursor: pointer;
    padding: 10px;
    border: 0px;
  }
  
  .dropdownContent a:hover {
    background-color: #0B2027;
    color: white;
    border-radius: 6px 6px 0 0;
  }

  .filterButton {
    all: unset;
    color: black;
    padding: 20px;
    position: fixed;
    top: 50px;
    right: 0px;
    text-align: center;
  }
  
  .filterButton:hover {
    cursor: pointer;
    font-weight: bold;
  }
}