.container {
    border: 3px solid black;
}

.container .timestitle {
    font-size: larger;
    font-weight: 600;
}

.container .timetableElement {
    display: flex;
}

.container .timetableElement .description {
    margin: auto;
}

.container .timetableElement .hour {
    margin: auto;
}