body {
    font-family: sans-serif;
    font: 'Inter';
    margin: 0px;
    background-color: #e8f7ee;
  }

.grid-container {
    display: grid;
    grid-template-columns: 45% auto;
    grid-template-rows: 200px 300px auto auto;
}

.name-banner {
    grid-column: 1 / 3;
    grid-row: 1;
    position: relative;
}

.banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name-box {
    background-color: black;
    opacity: 65%;
    left: 50%;
    top: 50%;
    width: 25%;
    height: 80%;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    position: absolute
}

.name {
    text-align: center;
    color: white;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 2.8em;
}

.concert-description {
    grid-column: 1;
    grid-row: 2/4;
    padding-left: 2%;
}

.concert-description-title {
    margin-top: 15px;
    font-size: x-large;
    font-weight: bold;
}

.bar {
    background-color: black;
    border-radius: 30px;
    width: 200px;
    height: 15px;
}

.timetable {
    padding-left: 2%;
    grid-column: 1;
    grid-row: 3;
}

.rating-section {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    font-size: larger;
}

.ratings {
    width: 100%;
    height: 100%;
}

.ratings .rating {
    margin: auto;
}

.ratings h3 {
    margin-bottom: 2%;
}

.invite-friends {
    grid-column: 2;
    grid-row: 3/5;
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    border-radius: 30px;
    margin-right: 10px;
}

.friend-invitation {
    display: grid;
    grid-template-columns: [picture] 120px [name] 100px [button] auto;
    grid-template-areas: 
    "picture name button";
    column-gap: 20px;
    border: 5px solid black;
    margin: 7px;
    border-radius: 20px;
}

.friend-invitation .picture {
    grid-area: picture;
}

.friend-invitation .picture img {
    width: 100%;
    margin: 10px;
}

.friend-invitation .profile-name {
    grid-area: name;
}

.friend-invitation .profile-name h3 {
    text-align: center;
    margin-top: 80%;
}

.friend-invitation .invite-button {
    grid-area: button;
    background-color: black;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    max-height: 35%;
    min-width: fit-content;
}

.friend-invitation .invite-button h3 {
    color: white;
    text-align: center;
    font-size: larger;
}

.rating-star {
    width: 40px;
    height: 40px;
}

